<div class="container">
	<div ng-if="!myInfoCtrl.userExists">
		Not Signed Up Yet. <span><a ui-sref="public.signup">Sign up Now!</a></span>
	</div>
	<div ng-if="myInfoCtrl.userExists"> 
		<h2 class="text-center">Registered Info!!</h2>
		<section>
			<p>Name: {{myInfoCtrl.userInfo.firstname}} {{myInfoCtrl.userInfo.lastname}}<p>
			<p>Email: {{myInfoCtrl.userInfo.email}}<p>
			<p>Phone: {{myInfoCtrl.userInfo.phone}}<p>
		</section>
	</div>
	<menu-item menu-item="myInfoCtrl.userInfo.menuItem"></menu-item>
</div>